@model Pharmacy.Presentation.Models.Patient.UpdatePatientRequest

<form asp-action="ApplyEdit" asp-controller="Patient" method="post">
    <div class="form-group">
        <input type="number" asp-for="Id" class="form-control d-none">
        

        
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter First Name">
        <span asp-validation-for="FirstName" class="form-text mt-1 mb-1 text-muted text-danger" style="color:red!important"></span>
        <label asp-for="LastName" class="control-label"></label>
        <input type="text" asp-for="LastName" class="form-control" placeholder="Enter Last Name">
        <span asp-validation-for="LastName" class="form-text mt-1 mb-1 text-muted text-danger" style="color:red!important"></span>

    </div>
    <button type="submit" class="btn  mt-2 btn-primary">Edit</button>
</form>