@{
    ViewData["Title"] = "Error Occured";
}
@{
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}
<div class="d-flex justify-content-center flex-column align-items-center">
    <h1>@ViewData["Title"]</h1>

    <p>Something Went Wrong <b>Sorry</b>😢.</p>
    <div class="mt-2" style="font-size:40px;font-weight:900">Status 500</div>
</div>