@model Pharmacy.Presentation.Models.Disease.CreateDiseaseRequest

<form asp-action="ApplyCreate" asp-controller="Disease" method="post">

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Disease Name">
        <span asp-validation-for="Name" class="form-text mt-1 mb-1 text-muted text-danger" style="color:red!important"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>